{
  "semi": false,
  "jsxSingleQuote": false,
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "bracketSpacing": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "trailingComma": "none",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 200,
        "htmlWhitespaceSensitivity": "ignore",
        "insertPragma": false,
        "proseWrap": "never",
        "requirePragma": false,
        "semi": true,
        "singleQuote": false,
        "tabWidth": 4,
        "vueIndentScriptAndStyle": true,
        "trailingComma": "none"
      }
    }
  ]
}
